<main id="edit-page">
  <h2>Edit <%= @model.name %></h2>
  <form id="delete-form" action= "<%= destroy(@id) %>" method="post">
    <input type="hidden" name="_method" value="DELETE"/>
  </form>
  <form action="<%= update(@id) %>" method="post">
    <input type="hidden" name="_method" value="PUT"/>
    <%= yield %>
    <input type="submit" name="submit" value="submit"/>
    <button id='delete' type="submit" form="delete-form" name="delete" value="delete">delete</button>
  </form>
</main>
