<main id="show page">
  <%= yield %>
  <a href="<%= update_form(@record.id) %>">
    <button name="edit" value="edit">edit</button>
  </a>
  <form action="<%= destroy(@record.id) %>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type='submit' name="delete" value="delete">
  </form>
</main>
